@import url('https://fonts.googleapis.com/css?family=Raleway:200');
body{
  text-align: center;
  background-color: white;
}


.productContainer {
  display: flex;
  flex-wrap: wrap;
}
.productContainer > .link {
  text-align: center;
  width: 250px;
	margin-left:40px;
	 border: 2px solid gray;
    border-radius: 7px;
    padding: 15px;
		float:left;
	margin-top: 30px;
}

.productContainer > .link:hover {
  background-color: lightgray;
}
.link{
  text-decoration: none;
  text-transform: uppercase;
  color: #07b39b;
}

 

 
